#################
## IDE
#################
*.pydevproject
.idea
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

###Esteren
config.php
Maquettage/
webroot/css/main.min.css
webroot/css/pages/*.css
webroot/js/pages/*.js
webroot/js/main.min.js
webroot/files/characters_export/*
logs/cache_sql/*.php
logs/404/*.log
logs/error_tracking/*.log
logs/exectime/*.log
logs/referer/*.log
logs/sql/*.log

translation/*/characters/*
translation/*/[0-9]*.json

/vendor/
docker/mysql/dump.sql
/docker-compose.override.yaml
