<?php

## Constantes concernant la BDD
define('P_DB_HOST', '127.0.0.1');
define('P_DB_USER', 'root');
define('P_DB_PWD', '');
define('P_DB_DBNAME', 'esteren');
define('P_DB_PREFIX', 'est_');

## Détermine si les erreurs seront affichées
define('P_DB_INITERRORS', false);

## Détermine quel type d'erreur sera envoyé
define('P_DB_ERROR_TYPE', 'notice');

define('P_DEBUG', true);
