@CHARSET "UTF-8";
.icon-large, [class*=icon-large-] { background: url('../img/glyphicons-large.png') no-repeat top left; }
.icon-large-glass		{ background-position: 0 0; width: 24px; height: 24px; } 
.icon-large-leaf		{ background-position: 0 -34px; width: 24px; height: 25px; } 
.icon-large-dog			{ background-position: 0 -69px; width: 26px; height: 25px; } 
.icon-large-user		{ background-position: 0 -104px; width: 23px; height: 22px; } 
.icon-large-girl		{ background-position: 0 -136px; width: 22px; height: 22px; } 
.icon-large-car			{ background-position: 0 -168px; width: 26px; height: 22px; } 
.icon-large-user_add	{ background-position: 0 -200px; width: 28px; height: 22px; } 
.icon-large-user_remove	{ background-position: 0 -232px; width: 26px; height: 22px; } 
.icon-large-film		{ background-position: 0 -264px; width: 22px; height: 26px; } 
.icon-large-magic		{ background-position: 0 -300px; width: 24px; height: 24px; } 
.icon-large-envelope	{ background-position: 0 -334px; width: 24px; height: 16px; } 
.icon-large-camera		{ background-position: 0 -360px; width: 26px; height: 20px; } 
.icon-large-heart		{ background-position: 0 -390px; width: 24px; height: 22px; } 
.icon-large-beach_umbrella	{ background-position: 0 -422px; width: 24px; height: 24px; } 
.icon-large-train		{ background-position: 0 -456px; width: 20px; height: 26px; } 
.icon-large-print		{ background-position: 0 -492px; width: 24px; height: 24px; } 
.icon-large-bin			{ background-position: 0 -526px; width: 20px; height: 28px; } 
.icon-large-music		{ background-position: 0 -564px; width: 21px; height: 25px; } 
.icon-large-note		{ background-position: 0 -599px; width: 18px; height: 25px; } 
.icon-large-heart_empty	{ background-position: 0 -634px; width: 24px; height: 22px; } 
.icon-large-home		{ background-position: 0 -666px; width: 27px; height: 26px; } 
.icon-large-snowflake	{ background-position: 0 -702px; width: 28px; height: 28px; } 
.icon-large-fire		{ background-position: 0 -740px; width: 21px; height: 26px; } 
.icon-large-magnet		{ background-position: 0 -776px; width: 21px; height: 23px; } 
.icon-large-parents		{ background-position: 0 -809px; width: 32px; height: 22px; } 
.icon-large-binoculars	{ background-position: 0 -841px; width: 24px; height: 24px; } 
.icon-large-road		{ background-position: 0 -875px; width: 28px; height: 24px; } 
.icon-large-search		{ background-position: 0 -909px; width: 24px; height: 24px; } 
.icon-large-cars		{ background-position: 0 -943px; width: 36px; height: 25px; } 
.icon-large-notes_2		{ background-position: 0 -978px; width: 20px; height: 27px; } 
.icon-large-pencil		{ background-position: 0 -1015px; width: 24px; height: 24px; } 
.icon-large-bus			{ background-position: 0 -1049px; width: 32px; height: 25px; } 
.icon-large-wifi_alt	{ background-position: 0 -1084px; width: 26px; height: 26px; } 
.icon-large-luggage		{ background-position: 0 -1120px; width: 20px; height: 27px; } 
.icon-large-old_man		{ background-position: 0 -1157px; width: 23px; height: 24px; } 
.icon-large-woman		{ background-position: 0 -1191px; width: 22px; height: 22px; } 
.icon-large-file		{ background-position: 0 -1223px; width: 19px; height: 24px; } 
.icon-large-coins		{ background-position: 0 -1257px; width: 26px; height: 24px; } 
.icon-large-airplane	{ background-position: 0 -1291px; width: 24px; height: 25px; } 
.icon-large-notes		{ background-position: 0 -1326px; width: 20px; height: 25px; } 
.icon-large-stats		{ background-position: 0 -1361px; width: 26px; height: 25px; } 
.icon-large-charts		{ background-position: 0 -1396px; width: 27px; height: 24px; } 
.icon-large-pie_chart	{ background-position: 0 -1430px; width: 26px; height: 25px; } 
.icon-large-group		{ background-position: 0 -1465px; width: 35px; height: 22px; } 
.icon-large-keys		{ background-position: 0 -1497px; width: 24px; height: 26px; } 
.icon-large-calendar	{ background-position: 0 -1533px; width: 23px; height: 24px; } 
.icon-large-router		{ background-position: 0 -1567px; width: 27px; height: 26px; } 
.icon-large-camera_small{ background-position: 0 -1603px; width: 22px; height: 24px; } 
.icon-large-dislikes	{ background-position: 0 -1637px; width: 25px; height: 24px; } 
.icon-large-star		{ background-position: 0 -1671px; width: 25px; height: 24px; } 
.icon-large-link		{ background-position: 0 -1705px; width: 21px; height: 23px; } 
.icon-large-eye_open	{ background-position: 0 -1738px; width: 31px; height: 17px; } 
.icon-large-eye_close	{ background-position: 0 -1765px; width: 31px; height: 24px; } 
.icon-large-alarm		{ background-position: 0 -1799px; width: 27px; height: 25px; } 
.icon-large-clock		{ background-position: 0 -1834px; width: 24px; height: 24px; } 
.icon-large-stopwatch	{ background-position: 0 -1868px; width: 23px; height: 27px; } 
.icon-large-projector	{ background-position: 0 -1905px; width: 28px; height: 25px; } 
.icon-large-history		{ background-position: 0 -1940px; width: 25px; height: 26px; } 
.icon-large-truck		{ background-position: 0 -1976px; width: 32px; height: 27px; } 
.icon-large-cargo		{ background-position: -46px 0; width: 25px; height: 26px; } 
.icon-large-compass		{ background-position: -46px -36px; width: 24px; height: 24px; } 
.icon-large-keynote		{ background-position: -46px -70px; width: 20px; height: 30px; } 
.icon-large-paperclip	{ background-position: -46px -110px; width: 26px; height: 24px; } 
.icon-large-power		{ background-position: -46px -144px; width: 22px; height: 24px; } 
.icon-large-lightbulb	{ background-position: -46px -178px; width: 20px; height: 26px; } 
.icon-large-tag			{ background-position: -46px -214px; width: 24px; height: 24px; } 
.icon-large-tags		{ background-position: -46px -248px; width: 30px; height: 24px; } 
.icon-large-cleaning	{ background-position: -46px -282px; width: 24px; height: 25px; } 
.icon-large-ruller		{ background-position: -46px -317px; width: 27px; height: 14px; } 
.icon-large-gift		{ background-position: -46px -341px; width: 24px; height: 25px; } 
.icon-large-umbrella	{ background-position: -46px -376px; width: 26px; height: 28px; } 
.icon-large-book		{ background-position: -46px -414px; width: 22px; height: 24px; } 
.icon-large-bookmark	{ background-position: -46px -448px; width: 15px; height: 24px; } 
.icon-large-wifi		{ background-position: -46px -482px; width: 31px; height: 23px; } 
.icon-large-cup			{ background-position: -46px -515px; width: 22px; height: 24px; } 
.icon-large-stroller	{ background-position: -46px -549px; width: 25px; height: 26px; } 
.icon-large-headphones	{ background-position: -46px -585px; width: 24px; height: 24px; } 
.icon-large-headset		{ background-position: -46px -619px; width: 24px; height: 28px; } 
.icon-large-warning_sign{ background-position: -46px -657px; width: 29px; height: 24px; } 
.icon-large-signal		{ background-position: -46px -691px; width: 24px; height: 24px; } 
.icon-large-retweet		{ background-position: -46px -725px; width: 28px; height: 15px; } 
.icon-large-refresh		{ background-position: -46px -750px; width: 25px; height: 26px; } 
.icon-large-roundabout	{ background-position: -46px -786px; width: 26px; height: 26px; } 
.icon-large-random		{ background-position: -46px -822px; width: 28px; height: 20px; } 
.icon-large-heat		{ background-position: -46px -852px; width: 29px; height: 25px; } 
.icon-large-repeat		{ background-position: -46px -887px; width: 23px; height: 26px; } 
.icon-large-display		{ background-position: -46px -923px; width: 28px; height: 24px; } 
.icon-large-log_book	{ background-position: -46px -957px; width: 22px; height: 24px; } 
.icon-large-adress_book	{ background-position: -46px -991px; width: 22px; height: 24px; } 
.icon-large-building	{ background-position: -46px -1025px; width: 24px; height: 26px; } 
.icon-large-eyedropper	{ background-position: -46px -1061px; width: 24px; height: 24px; } 
.icon-large-adjust		{ background-position: -46px -1095px; width: 26px; height: 26px; } 
.icon-large-tint		{ background-position: -46px -1131px; width: 24px; height: 25px; } 
.icon-large-crop		{ background-position: -46px -1166px; width: 26px; height: 26px; } 
.icon-large-vector_path_square	{ background-position: -46px -1202px; width: 24px; height: 24px; } 
.icon-large-vector_path_circle	{ background-position: -46px -1236px; width: 24px; height: 24px; } 
.icon-large-vector_path_polygon	{ background-position: -46px -1270px; width: 26px; height: 25px; } 
.icon-large-vector_path_line	{ background-position: -46px -1305px; width: 24px; height: 24px; } 
.icon-large-vector_path_curve	{ background-position: -46px -1339px; width: 24px; height: 24px; } 
.icon-large-vector_path_all	{ background-position: -46px -1373px; width: 24px; height: 24px; } 
.icon-large-font		{ background-position: -46px -1407px; width: 27px; height: 23px; } 
.icon-large-italic		{ background-position: -46px -1440px; width: 14px; height: 24px; } 
.icon-large-bold		{ background-position: -46px -1474px; width: 19px; height: 24px; } 
.icon-large-text_underline	{ background-position: -46px -1508px; width: 20px; height: 24px; } 
.icon-large-text_strike	{ background-position: -46px -1542px; width: 20px; height: 22px; } 
.icon-large-text_height	{ background-position: -46px -1574px; width: 26px; height: 24px; } 
.icon-large-text_width	{ background-position: -46px -1608px; width: 22px; height: 24px; } 
.icon-large-text_resize	{ background-position: -46px -1642px; width: 26px; height: 26px; } 
.icon-large-left_indent	{ background-position: -46px -1678px; width: 24px; height: 22px; } 
.icon-large-right_indent{ background-position: -46px -1710px; width: 24px; height: 22px; } 
.icon-large-align_left	{ background-position: -46px -1742px; width: 24px; height: 21px; } 
.icon-large-align_center{ background-position: -46px -1773px; width: 24px; height: 21px; } 
.icon-large-align_right	{ background-position: -46px -1804px; width: 24px; height: 21px; } 
.icon-large-justify		{ background-position: -46px -1835px; width: 24px; height: 21px; } 
.icon-large-list		{ background-position: -46px -1866px; width: 24px; height: 21px; } 
.icon-large-text_smaller{ background-position: -46px -1897px; width: 22px; height: 16px; } 
.icon-large-text_bigger	{ background-position: -46px -1923px; width: 24px; height: 22px; } 
.icon-large-embed		{ background-position: -46px -1955px; width: 30px; height: 14px; } 
.icon-large-embed_close	{ background-position: -46px -1979px; width: 30px; height: 24px; } 
.icon-large-table		{ background-position: -92px 0; width: 24px; height: 24px; } 
.icon-large-message_full{ background-position: -92px -34px; width: 24px; height: 28px; } 
.icon-large-message_empty{ background-position: -92px -72px; width: 24px; height: 28px; } 
.icon-large-message_in	{ background-position: -92px -110px; width: 24px; height: 28px; } 
.icon-large-message_out	{ background-position: -92px -148px; width: 24px; height: 28px; } 
.icon-large-message_plus{ background-position: -92px -186px; width: 29px; height: 23px; } 
.icon-large-message_minus{ background-position: -92px -219px; width: 29px; height: 23px; } 
.icon-large-message_ban	{ background-position: -92px -252px; width: 29px; height: 23px; } 
.icon-large-message_flag{ background-position: -92px -285px; width: 27px; height: 23px; } 
.icon-large-message_lock{ background-position: -92px -318px; width: 28px; height: 24px; } 
.icon-large-message_new	{ background-position: -92px -352px; width: 28px; height: 22px; } 
.icon-large-inbox		{ background-position: -92px -384px; width: 24px; height: 23px; } 
.icon-large-inbox_plus	{ background-position: -92px -417px; width: 27px; height: 27px; } 
.icon-large-inbox_minus	{ background-position: -92px -454px; width: 27px; height: 27px; } 
.icon-large-inbox_lock	{ background-position: -92px -491px; width: 26px; height: 28px; } 
.icon-large-inbox_in	{ background-position: -92px -529px; width: 24px; height: 26px; } 
.icon-large-inbox_out	{ background-position: -92px -565px; width: 24px; height: 26px; } 
.icon-large-cogwheel	{ background-position: -92px -601px; width: 24px; height: 24px; } 
.icon-large-cogwheels	{ background-position: -92px -635px; width: 34px; height: 27px; } 
.icon-large-picture		{ background-position: -92px -672px; width: 24px; height: 20px; } 
.icon-large-adjust_alt	{ background-position: -92px -702px; width: 23px; height: 24px; } 
.icon-large-database_lock{ background-position: -92px -736px; width: 26px; height: 28px; } 
.icon-large-database_plus{ background-position: -92px -774px; width: 27px; height: 27px; } 
.icon-large-database_minus{ background-position: -92px -811px; width: 27px; height: 27px; } 
.icon-large-database_ban{ background-position: -92px -848px; width: 26px; height: 27px; } 
.icon-large-folder_open	{ background-position: -92px -885px; width: 30px; height: 22px; } 
.icon-large-folder_plus	{ background-position: -92px -917px; width: 29px; height: 25px; } 
.icon-large-folder_minus{ background-position: -92px -952px; width: 29px; height: 25px; } 
.icon-large-folder_lock	{ background-position: -92px -987px; width: 28px; height: 26px; } 
.icon-large-folder_flag	{ background-position: -92px -1023px; width: 27px; height: 25px; } 
.icon-large-folder_new	{ background-position: -92px -1058px; width: 28px; height: 24px; } 
.icon-large-edit		{ background-position: -92px -1092px; width: 24px; height: 21px; } 
.icon-large-new_window	{ background-position: -92px -1123px; width: 26px; height: 22px; } 
.icon-large-check		{ background-position: -92px -1155px; width: 22px; height: 18px; } 
.icon-large-unchecked	{ background-position: -92px -1183px; width: 18px; height: 18px; } 
.icon-large-more_windows{ background-position: -92px -1211px; width: 23px; height: 23px; } 
.icon-large-show_big_thumbnails	{ background-position: -92px -1244px; width: 22px; height: 22px; } 
.icon-large-show_thumbnails	{ background-position: -92px -1276px; width: 22px; height: 22px; } 
.icon-large-show_thumbnails_with_lines	{ background-position: -92px -1308px; width: 24px; height: 15px; } 
.icon-large-show_lines	{ background-position: -92px -1333px; width: 24px; height: 15px; } 
.icon-large-playlist	{ background-position: -92px -1358px; width: 29px; height: 24px; } 
.icon-large-imac		{ background-position: -92px -1392px; width: 26px; height: 22px; } 
.icon-large-macbook		{ background-position: -92px -1424px; width: 28px; height: 15px; } 
.icon-large-ipad		{ background-position: -92px -1449px; width: 22px; height: 27px; } 
.icon-large-iphone		{ background-position: -92px -1486px; width: 14px; height: 24px; } 
.icon-large-iphone_transfer	{ background-position: -92px -1520px; width: 29px; height: 24px; } 
.icon-large-iphone_exchange	{ background-position: -92px -1554px; width: 29px; height: 24px; } 
.icon-large-ipod		{ background-position: -92px -1588px; width: 14px; height: 22px; } 
.icon-large-ipod_shuffle{ background-position: -92px -1620px; width: 15px; height: 13px; } 
.icon-large-ear_plugs	{ background-position: -92px -1643px; width: 20px; height: 24px; } 
.icon-large-phone		{ background-position: -92px -1677px; width: 15px; height: 25px; } 
.icon-large-step_backward{ background-position: -92px -1712px; width: 14px; height: 18px; } 
.icon-large-fast_backward{ background-position: -92px -1740px; width: 25px; height: 18px; } 
.icon-large-rewind		{ background-position: -92px -1768px; width: 23px; height: 18px; } 
.icon-large-play		{ background-position: -92px -1796px; width: 16px; height: 18px; } 
.icon-large-pause		{ background-position: -92px -1824px; width: 10px; height: 16px; } 
.icon-large-stop		{ background-position: -92px -1850px; width: 14px; height: 14px; } 
.icon-large-forward		{ background-position: -92px -1874px; width: 23px; height: 18px; } 
.icon-large-fast_forward{ background-position: -92px -1902px; width: 25px; height: 18px; } 
.icon-large-step_forward{ background-position: -92px -1930px; width: 14px; height: 18px; } 
.icon-large-eject		{ background-position: -92px -1958px; width: 18px; height: 17px; } 
.icon-large-facetime_video{ background-position: -92px -1985px; width: 24px; height: 16px; } 
.icon-large-download_alt{ background-position: -138px 0; width: 24px; height: 24px; } 
.icon-large-mute		{ background-position: -138px -34px; width: 22px; height: 15px; } 
.icon-large-volume_down	{ background-position: -138px -59px; width: 16px; height: 15px; } 
.icon-large-volume_up	{ background-position: -138px -84px; width: 24px; height: 26px; } 
.icon-large-screenshot	{ background-position: -138px -120px; width: 27px; height: 27px; } 
.icon-large-move		{ background-position: -138px -157px; width: 24px; height: 24px; } 
.icon-large-more		{ background-position: -138px -191px; width: 22px; height: 6px; } 
.icon-large-brightness_reduce	{ background-position: -138px -207px; width: 20px; height: 20px; } 
.icon-large-brightness_increase	{ background-position: -138px -237px; width: 24px; height: 24px; } 
.icon-large-circle_plus	{ background-position: -138px -271px; width: 26px; height: 26px; } 
.icon-large-circle_minus{ background-position: -138px -307px; width: 26px; height: 26px; } 
.icon-large-circle_remove{ background-position: -138px -343px; width: 26px; height: 26px; } 
.icon-large-circle_ok	{ background-position: -138px -379px; width: 26px; height: 26px; } 
.icon-large-circle_question_mark	{ background-position: -138px -415px; width: 26px; height: 26px; } 
.icon-large-circle_info	{ background-position: -138px -451px; width: 26px; height: 26px; } 
.icon-large-circle_exclamation_mark	{ background-position: -138px -487px; width: 26px; height: 26px; } 
.icon-large-remove		{ background-position: -138px -523px; width: 26px; height: 26px; } 
.icon-large-ok			{ background-position: -138px -559px; width: 26px; height: 26px; } 
.icon-large-ban			{ background-position: -138px -595px; width: 26px; height: 26px; } 
.icon-large-download	{ background-position: -138px -631px; width: 26px; height: 26px; } 
.icon-large-upload		{ background-position: -138px -667px; width: 26px; height: 26px; } 
.icon-large-shopping_cart{ background-position: -138px -703px; width: 26px; height: 23px; } 
.icon-large-lock		{ background-position: -138px -736px; width: 21px; height: 26px; } 
.icon-large-unlock		{ background-position: -138px -772px; width: 21px; height: 26px; } 
.icon-large-electricity	{ background-position: -138px -808px; width: 11px; height: 24px; } 
.icon-large-ok_2		{ background-position: -138px -842px; width: 25px; height: 19px; } 
.icon-large-remove_2	{ background-position: -138px -871px; width: 18px; height: 18px; } 
.icon-large-cart_out	{ background-position: -138px -899px; width: 26px; height: 25px; } 
.icon-large-cart_in		{ background-position: -138px -934px; width: 26px; height: 24px; } 
.icon-large-left_arrow	{ background-position: -138px -968px; width: 20px; height: 18px; } 
.icon-large-right_arrow	{ background-position: -138px -996px; width: 20px; height: 18px; } 
.icon-large-down_arrow	{ background-position: -138px -1024px; width: 18px; height: 20px; } 
.icon-large-up_arrow	{ background-position: -138px -1054px; width: 18px; height: 20px; } 
.icon-large-resize_small{ background-position: -138px -1084px; width: 24px; height: 24px; } 
.icon-large-resize_full	{ background-position: -138px -1118px; width: 24px; height: 24px; } 
.icon-large-circle_arrow_left	{ background-position: -138px -1152px; width: 26px; height: 26px; } 
.icon-large-circle_arrow_right	{ background-position: -138px -1188px; width: 26px; height: 26px; } 
.icon-large-circle_arrow_top	{ background-position: -138px -1224px; width: 26px; height: 26px; } 
.icon-large-circle_arrow_down	{ background-position: -138px -1260px; width: 26px; height: 26px; } 
.icon-large-play_button	{ background-position: -138px -1296px; width: 26px; height: 26px; } 
.icon-large-unshare		{ background-position: -138px -1332px; width: 24px; height: 18px; } 
.icon-large-share		{ background-position: -138px -1360px; width: 24px; height: 18px; } 
.icon-large-chevron-right{ background-position: -138px -1388px; width: 15px; height: 22px; } 
.icon-large-chevron-left{ background-position: -138px -1420px; width: 15px; height: 22px; } 
.icon-large-bluetooth	{ background-position: -138px -1452px; width: 14px; height: 24px; } 
.icon-large-euro		{ background-position: -138px -1486px; width: 22px; height: 23px; } 
.icon-large-usd			{ background-position: -138px -1519px; width: 17px; height: 26px; } 
.icon-large-gbp			{ background-position: -138px -1555px; width: 17px; height: 24px; } 
.icon-large-retweet_2	{ background-position: -138px -1589px; width: 33px; height: 21px; } 
.icon-large-moon		{ background-position: -138px -1620px; width: 21px; height: 24px; } 
.icon-large-sun			{ background-position: -138px -1654px; width: 24px; height: 24px; } 
.icon-large-cloud		{ background-position: -138px -1688px; width: 27px; height: 17px; } 
.icon-large-direction	{ background-position: -138px -1715px; width: 25px; height: 26px; } 
.icon-large-brush		{ background-position: -138px -1751px; width: 25px; height: 22px; } 
.icon-large-pen			{ background-position: -138px -1783px; width: 23px; height: 23px; } 
.icon-large-zoom_in		{ background-position: -138px -1816px; width: 25px; height: 25px; } 
.icon-large-zoom_out	{ background-position: -138px -1851px; width: 25px; height: 25px; } 
.icon-large-pin			{ background-position: -138px -1886px; width: 10px; height: 24px; } 
.icon-large-albums		{ background-position: -138px -1920px; width: 28px; height: 18px; } 
.icon-large-rotation_lock{ background-position: -138px -1948px; width: 27px; height: 24px; } 
.icon-large-flash		{ background-position: -138px -1982px; width: 14px; height: 24px; } 
.icon-large-google_maps	{ background-position: -184px 0; width: 16px; height: 24px; } 
.icon-large-anchor		{ background-position: -184px -34px; width: 24px; height: 25px; } 
.icon-large-conversation{ background-position: -184px -69px; width: 25px; height: 18px; } 
.icon-large-chat		{ background-position: -184px -97px; width: 24px; height: 19px; } 
.icon-large-male		{ background-position: -184px -126px; width: 22px; height: 22px; } 
.icon-large-female		{ background-position: -184px -158px; width: 16px; height: 27px; } 
.icon-large-asterisk	{ background-position: -184px -195px; width: 20px; height: 20px; } 
.icon-large-divide		{ background-position: -184px -225px; width: 18px; height: 16px; } 
.icon-large-snorkel_diving	{ background-position: -184px -251px; width: 27px; height: 25px; } 
.icon-large-scuba_diving	{ background-position: -184px -286px; width: 27px; height: 24px; } 
.icon-large-oxygen_bottle	{ background-position: -184px -320px; width: 22px; height: 27px; } 
.icon-large-fins		{ background-position: -184px -357px; width: 31px; height: 27px; } 
.icon-large-fishes		{ background-position: -184px -394px; width: 28px; height: 30px; } 
.icon-large-boat		{ background-position: -184px -434px; width: 24px; height: 24px; } 
.icon-large-delete		{ background-position: -184px -468px; width: 26px; height: 17px; } 
.icon-large-sheriffs_star{ background-position: -184px -495px; width: 24px; height: 26px; } 
.icon-large-qrcode		{ background-position: -184px -531px; width: 24px; height: 24px; } 
.icon-large-barcode		{ background-position: -184px -565px; width: 24px; height: 24px; } 
.icon-large-pool		{ background-position: -184px -599px; width: 24px; height: 24px; } 
.icon-large-buoy		{ background-position: -184px -633px; width: 24px; height: 24px; } 
.icon-large-spade		{ background-position: -184px -667px; width: 24px; height: 24px; } 
.icon-large-bank		{ background-position: -184px -701px; width: 24px; height: 24px; } 
.icon-large-vcard		{ background-position: -184px -735px; width: 22px; height: 24px; } 
.icon-large-electrical_plug	{ background-position: -184px -769px; width: 18px; height: 25px; } 
.icon-large-flag		{ background-position: -184px -804px; width: 21px; height: 26px; } 
.icon-large-credit_card	{ background-position: -184px -840px; width: 26px; height: 19px; } 
.icon-large-keyboard_wireless	{ background-position: -184px -869px; width: 27px; height: 19px; } 
.icon-large-keyboard_wired	{ background-position: -184px -898px; width: 27px; height: 25px; } 
.icon-large-shield		{ background-position: -184px -933px; width: 22px; height: 24px; } 
.icon-large-ring		{ background-position: -184px -967px; width: 21px; height: 24px; } 
.icon-large-cake		{ background-position: -184px -1001px; width: 22px; height: 24px; } 
.icon-large-drink		{ background-position: -184px -1035px; width: 23px; height: 24px; } 
.icon-large-beer		{ background-position: -184px -1069px; width: 23px; height: 24px; } 
.icon-large-fast_food	{ background-position: -184px -1103px; width: 28px; height: 24px; } 
.icon-large-cutlery		{ background-position: -184px -1137px; width: 13px; height: 24px; } 
.icon-large-pizza		{ background-position: -184px -1171px; width: 26px; height: 29px; } 
.icon-large-birthday_cake{ background-position: -184px -1210px; width: 26px; height: 29px; } 
.icon-large-tablet		{ background-position: -184px -1249px; width: 25px; height: 25px; } 
.icon-large-settings	{ background-position: -184px -1284px; width: 24px; height: 24px; } 
.icon-large-bullets		{ background-position: -184px -1318px; width: 27px; height: 23px; } 
.icon-large-cardio		{ background-position: -184px -1351px; width: 25px; height: 26px; } 
.icon-large-t-shirt		{ background-position: -184px -1387px; width: 28px; height: 23px; } 
.icon-large-pants		{ background-position: -184px -1420px; width: 19px; height: 24px; } 
.icon-large-sweater		{ background-position: -184px -1454px; width: 29px; height: 24px; } 
.icon-large-fabric		{ background-position: -184px -1488px; width: 27px; height: 22px; } 
.icon-large-leather		{ background-position: -184px -1520px; width: 23px; height: 24px; } 
.icon-large-scissors	{ background-position: -184px -1554px; width: 24px; height: 27px; } 
.icon-large-bomb		{ background-position: -184px -1591px; width: 27px; height: 25px; } 
.icon-large-skull		{ background-position: -184px -1626px; width: 22px; height: 24px; } 
.icon-large-celebration	{ background-position: -184px -1660px; width: 24px; height: 25px; } 
.icon-large-tea_kettle	{ background-position: -184px -1695px; width: 26px; height: 23px; } 
.icon-large-french_press{ background-position: -184px -1728px; width: 23px; height: 25px; } 
.icon-large-coffe_cup	{ background-position: -184px -1763px; width: 25px; height: 19px; } 
.icon-large-pot			{ background-position: -184px -1792px; width: 27px; height: 22px; } 
.icon-large-grater		{ background-position: -184px -1824px; width: 18px; height: 24px; } 
.icon-large-kettle		{ background-position: -184px -1858px; width: 23px; height: 24px; } 
.icon-large-hospital	{ background-position: -184px -1892px; width: 24px; height: 24px; } 
.icon-large-hospital_h	{ background-position: -184px -1926px; width: 24px; height: 24px; } 
.icon-large-microphone	{ background-position: -184px -1960px; width: 17px; height: 24px; } 
.icon-large-webcam		{ background-position: -230px 0; width: 19px; height: 24px; } 
.icon-large-temple_christianity_church	{ background-position: -230px -34px; width: 24px; height: 25px; } 
.icon-large-temple_islam	{ background-position: -230px -69px; width: 25px; height: 24px; } 
.icon-large-temple_hindu	{ background-position: -230px -103px; width: 24px; height: 24px; } 
.icon-large-temple_buddhist	{ background-position: -230px -137px; width: 28px; height: 22px; } 
.icon-large-bicycle		{ background-position: -230px -169px; width: 33px; height: 21px; } 
.icon-large-life_preserver{ background-position: -230px -200px; width: 24px; height: 24px; } 
.icon-large-share_alt	{ background-position: -230px -234px; width: 22px; height: 22px; } 
.icon-large-comments	{ background-position: -230px -266px; width: 24px; height: 23px; } 
.icon-large-flower		{ background-position: -230px -299px; width: 19px; height: 25px; } 
.icon-large-baseball	{ background-position: -230px -334px; width: 25px; height: 26px; } 
.icon-large-rugby		{ background-position: -230px -370px; width: 23px; height: 24px; } 
.icon-large-ax			{ background-position: -230px -404px; width: 27px; height: 24px; } 
.icon-large-table_tennis{ background-position: -230px -438px; width: 24px; height: 24px; } 
.icon-large-bowling		{ background-position: -230px -472px; width: 24px; height: 24px; } 
.icon-large-tree_conifer{ background-position: -230px -506px; width: 21px; height: 24px; } 
.icon-large-tree_deciduous{ background-position: -230px -540px; width: 20px; height: 25px; } 
.icon-large-more_items	{ background-position: -230px -575px; width: 21px; height: 24px; } 
.icon-large-sort		{ background-position: -230px -609px; width: 25px; height: 25px; } 
.icon-large-filter		{ background-position: -230px -644px; width: 20px; height: 24px; } 
.icon-large-gamepad		{ background-position: -230px -678px; width: 27px; height: 19px; } 
.icon-large-playing_dices{ background-position: -230px -707px; width: 27px; height: 23px; } 
.icon-large-calculator	{ background-position: -230px -740px; width: 21px; height: 24px; } 
.icon-large-tie			{ background-position: -230px -774px; width: 11px; height: 26px; } 
.icon-large-wallet		{ background-position: -230px -810px; width: 25px; height: 20px; } 
.icon-large-piano		{ background-position: -230px -840px; width: 23px; height: 24px; } 
.icon-large-sampler		{ background-position: -230px -874px; width: 27px; height: 22px; } 
.icon-large-podium		{ background-position: -230px -906px; width: 28px; height: 21px; } 
.icon-large-soccer_ball	{ background-position: -230px -937px; width: 25px; height: 25px; } 
.icon-large-blog		{ background-position: -230px -972px; width: 21px; height: 23px; } 
.icon-large-dashboard	{ background-position: -230px -1005px; width: 24px; height: 24px; } 
.icon-large-certificate	{ background-position: -230px -1039px; width: 17px; height: 25px; } 
.icon-large-bell		{ background-position: -230px -1074px; width: 24px; height: 24px; } 
.icon-large-candle		{ background-position: -230px -1108px; width: 20px; height: 25px; } 
.icon-large-pushpin		{ background-position: -230px -1143px; width: 23px; height: 23px; } 
.icon-large-iphone_shake{ background-position: -230px -1176px; width: 24px; height: 24px; } 
.icon-large-pin_flag	{ background-position: -230px -1210px; width: 30px; height: 22px; } 
.icon-large-turtle		{ background-position: -230px -1242px; width: 28px; height: 16px; } 
.icon-large-rabbit		{ background-position: -230px -1268px; width: 26px; height: 22px; } 
.icon-large-globe		{ background-position: -230px -1300px; width: 24px; height: 24px; } 
.icon-large-briefcase	{ background-position: -230px -1334px; width: 24px; height: 21px; } 
.icon-large-hdd			{ background-position: -230px -1365px; width: 24px; height: 21px; } 
.icon-large-thumbs_up	{ background-position: -230px -1396px; width: 24px; height: 21px; } 
.icon-large-thumbs_down	{ background-position: -230px -1427px; width: 24px; height: 21px; } 
.icon-large-hand_right	{ background-position: -230px -1458px; width: 26px; height: 19px; } 
.icon-large-hand_left	{ background-position: -230px -1487px; width: 26px; height: 19px; } 
.icon-large-hand_up		{ background-position: -230px -1516px; width: 19px; height: 26px; } 
.icon-large-hand_down	{ background-position: -230px -1552px; width: 19px; height: 27px; } 
.icon-large-fullscreen	{ background-position: -230px -1589px; width: 24px; height: 24px; } 
.icon-large-shopping_bag{ background-position: -230px -1623px; width: 23px; height: 26px; } 
.icon-large-book_open	{ background-position: -230px -1659px; width: 24px; height: 22px; } 
.icon-large-nameplate	{ background-position: -230px -1691px; width: 24px; height: 21px; } 
.icon-large-nameplate_alt{ background-position: -230px -1722px; width: 24px; height: 22px; } 
.icon-large-vases		{ background-position: -230px -1754px; width: 24px; height: 24px; } 
.icon-large-bullhorn	{ background-position: -230px -1788px; width: 25px; height: 20px; } 
.icon-large-dumbbell	{ background-position: -230px -1818px; width: 26px; height: 16px; } 
.icon-large-suitcase	{ background-position: -230px -1844px; width: 24px; height: 22px; } 
.icon-large-file_import	{ background-position: -230px -1876px; width: 22px; height: 24px; } 
.icon-large-file_export	{ background-position: -230px -1910px; width: 23px; height: 24px; } 
.icon-large-bug			{ background-position: -230px -1944px; width: 22px; height: 24px; } 
.icon-large-crown		{ background-position: -230px -1978px; width: 26px; height: 25px; } 
.icon-large-smoking		{ background-position: -276px 0; width: 28px; height: 28px; } 
.icon-large-cloud_upload{ background-position: -276px -38px; width: 27px; height: 20px; } 
.icon-large-cloud_download{ background-position: -276px -68px; width: 27px; height: 22px; } 
.icon-large-restart		{ background-position: -276px -100px; width: 25px; height: 25px; } 
.icon-large-security_camera	{ background-position: -276px -135px; width: 24px; height: 24px; } 
.icon-large-expand		{ background-position: -276px -169px; width: 19px; height: 19px; } 
.icon-large-collapse	{ background-position: -276px -198px; width: 19px; height: 19px; } 
.icon-large-collapse_top{ background-position: -276px -227px; width: 19px; height: 19px; } 
.icon-large-globe_af	{ background-position: -276px -256px; width: 24px; height: 24px; } 
.icon-large-global		{ background-position: -276px -290px; width: 24px; height: 24px; } 
.icon-large-spray		{ background-position: -276px -324px; width: 22px; height: 27px; } 
.icon-large-nails		{ background-position: -276px -361px; width: 22px; height: 26px; } 
.icon-large-claw_hammer	{ background-position: -276px -397px; width: 27px; height: 26px; } 
.icon-large-classic_hammer{ background-position: -276px -433px; width: 25px; height: 26px; } 
.icon-large-hand_saw	{ background-position: -276px -469px; width: 26px; height: 26px; } 
.icon-large-riflescope	{ background-position: -276px -505px; width: 25px; height: 25px; } 
.icon-large-electrical_socket_eu{ background-position: -276px -540px; width: 23px; height: 23px; } 
.icon-large-electrical_socket_us{ background-position: -276px -573px; width: 23px; height: 23px; } 
.icon-large-pinterest	{ background-position: -276px -606px; width: 24px; height: 24px; } 
.icon-large-dropbox		{ background-position: -276px -640px; width: 24px; height: 24px; } 
.icon-large-google_plus	{ background-position: -276px -674px; width: 24px; height: 24px; } 
.icon-large-jolicloud	{ background-position: -276px -708px; width: 24px; height: 24px; } 
.icon-large-yahoo		{ background-position: -276px -742px; width: 24px; height: 24px; } 
.icon-large-blogger		{ background-position: -276px -776px; width: 24px; height: 24px; } 
.icon-large-picasa		{ background-position: -276px -810px; width: 24px; height: 24px; } 
.icon-large-amazon		{ background-position: -276px -844px; width: 24px; height: 24px; } 
.icon-large-tumblr		{ background-position: -276px -878px; width: 24px; height: 24px; } 
.icon-large-wordpress	{ background-position: -276px -912px; width: 24px; height: 24px; } 
.icon-large-instapaper	{ background-position: -276px -946px; width: 24px; height: 24px; } 
.icon-large-evernote	{ background-position: -276px -980px; width: 24px; height: 24px; } 
.icon-large-xing		{ background-position: -276px -1014px; width: 24px; height: 24px; } 
.icon-large-zootool		{ background-position: -276px -1048px; width: 24px; height: 24px; } 
.icon-large-dribbble	{ background-position: -276px -1082px; width: 24px; height: 24px; } 
.icon-large-deviantart	{ background-position: -276px -1116px; width: 24px; height: 24px; } 
.icon-large-read_it_later{ background-position: -276px -1150px; width: 24px; height: 24px; } 
.icon-large-linked_in	{ background-position: -276px -1184px; width: 24px; height: 24px; } 
.icon-large-forrst		{ background-position: -276px -1218px; width: 24px; height: 24px; } 
.icon-large-pinboard	{ background-position: -276px -1252px; width: 24px; height: 24px; } 
.icon-large-behance		{ background-position: -276px -1286px; width: 24px; height: 24px; } 
.icon-large-github		{ background-position: -276px -1320px; width: 24px; height: 24px; } 
.icon-large-youtube		{ background-position: -276px -1354px; width: 24px; height: 24px; } 
.icon-large-skitch		{ background-position: -276px -1388px; width: 24px; height: 24px; } 
.icon-large-4square		{ background-position: -276px -1422px; width: 24px; height: 24px; } 
.icon-large-quora		{ background-position: -276px -1456px; width: 24px; height: 24px; } 
.icon-large-badoo		{ background-position: -276px -1490px; width: 24px; height: 24px; } 
.icon-large-spotify		{ background-position: -276px -1524px; width: 24px; height: 24px; } 
.icon-large-stumbleupon	{ background-position: -276px -1558px; width: 24px; height: 24px; } 
.icon-large-readability	{ background-position: -276px -1592px; width: 24px; height: 24px; } 
.icon-large-facebook	{ background-position: -276px -1626px; width: 24px; height: 24px; } 
.icon-large-twitter		{ background-position: -276px -1660px; width: 24px; height: 24px; } 
.icon-large-instagram	{ background-position: -276px -1694px; width: 24px; height: 24px; } 
.icon-large-posterous_spaces{ background-position: -276px -1728px; width: 24px; height: 24px; } 
.icon-large-vimeo		{ background-position: -276px -1762px; width: 24px; height: 24px; } 
.icon-large-flickr		{ background-position: -276px -1796px; width: 24px; height: 24px; } 
.icon-large-last_fm		{ background-position: -276px -1830px; width: 24px; height: 24px; } 
.icon-large-rss			{ background-position: -276px -1864px; width: 24px; height: 24px; } 
.icon-large-skype		{ background-position: -276px -1898px; width: 24px; height: 24px; } 
.icon-large-e-mail		{ background-position: -276px -1932px; width: 24px; height: 24px; } 
