/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 
body{
	padding-bottom: 40px;
}

.hero-unit {
	padding: 40px 60px;
}
a, span, input {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
-webkit-transition-property: color, background, text-decoration, text-shadow;
   -moz-transition-property: color, background, text-decoration, text-shadow;
	 -o-transition-property: color, background, text-decoration, text-shadow;
	    transition-property: color, background, text-decoration, text-shadow;
-webkit-transition-duration: 200ms;
   -moz-transition-duration: 200ms;
	 -o-transition-duration: 200ms;
		transition-duration: 200ms;
}

a:link, a:visited, a:active {
	color: #811;
	text-decoration: none;
-webkit-transition-property: color, background, text-decoration;
   -moz-transition-property: color, background, text-decoration;
	 -o-transition-property: color, background, text-decoration;
	    transition-property: color, background, text-decoration;
-webkit-transition-duration: 200ms;
   -moz-transition-duration: 200ms;
	 -o-transition-duration: 200ms;
		transition-duration: 200ms;
}
a:hover {
	text-decoration: none;
}

.hid { display: none; position: absolute; width: 70%; }

a.btn.btn-inverse:link, a.btn.btn-inverse:visited, a.btn.btn-inverse:active { color: #eee; }
.ib {
	display: inline-block;
	vertical-align: top;
}
.ib.mid { vertical-align: middle; }
.ib.bot { vertical-align: bottom; }
.ib.base { vertical-align: baseline; }
.bl { display: block; }
.center { text-align: center; }
.txtleft { text-align: left; }
.bl.mid {
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	font-size: 12px;
}
.navbar .nav > li > a {
	padding: 5px 10px;
}
.navbar a.brand {
	font-size: 16px;
	padding: 5px 10px 5px 15px;
	width: 15%;
	float: left;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
}
#navigation .navbar-inner {
	min-height: 30px;
}
#navigation .nav-collapse, .nav-collapse.collapse {
	width: 85%;
	float: left;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
		box-sizing: border-box;
}
@media(max-width:979px) {
	#navigation .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		padding: 5px 10px;
	}
}

.vsbl, #gen_send.vsbl { visibility: visible; }
footer { text-align: center; }
.underline { text-decoration: underline; }
#footer {
	font-size: 0.70em;
	line-height: 1.4em;
}
#footer p {
	margin: 0;
	padding: 2px 0;
}

/* div[class*="span"]:hover { cursor: pointer; } */

*.row-fluid *[class*="span"] {
	min-height: 0;
}

div.row-fluid div[class*="span"] {
-webkit-transition-property: background;
   -moz-transition-property: background;
	 -o-transition-property: background;
	    transition-property: background;
-webkit-transition-duration: 400ms;
   -moz-transition-duration: 400ms;
	 -o-transition-duration: 400ms;
		transition-duration: 400ms;
}
#formgen div.checked {
	background: #eee;
}

#formgen div#infobulle {
	background: none transparent;
	display: none;
	padding: 0;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 0 3px 3px #000000;
}
#formgen div#infobulle:hover {
	background: none transparent;
	cursor: default;
}
#gen_prev, #gen_send {
	margin-bottom: 20px;
}
#gen_send {
	visibility: hidden;
-webkit-transition-property: all;
   -moz-transition-property: all;
	 -o-transition-property: all;
	    transition-property: all;
-webkit-transition-duration: 400ms;
   -moz-transition-duration: 400ms;
	 -o-transition-duration: 400ms;
		transition-duration: 400ms;
}
#gen_send:hover {
	border-color: #ddd;
	background: rgba(0, 0, 0, 0.15);
	cursor: pointer;
	border: solid 1px #888;
}

.w100 { width: 100px; }
.w220 { width: 220px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }

.color_red { color: red; }

.brand.active { text-shadow: 0 0 10px #bbb; }



div.progress {
	position: relative;
}
div.progress span[class*=icon-] {
	display: block;
	margin: 3px 5px 0 5px;
-webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
	 -o-transform: scale(0.8);
		transform: scale(0.8);
-webkit-transition-property: all;
   -moz-transition-property: all;
		transition-property: all;
	 -o-transition-property: all;
-webkit-transition-duration: 200ms;
   -moz-transition-duration: 200ms;
	 -o-transition-duration: 200ms;
		transition-duration: 200ms;
}
div.progress span.icon-minus {
	position: absolute;
}
div.progress span.icon-plus {
	float: right;
}
span.progress_text {
	display: block;
	left: 45%;
	position: absolute;
	text-align: center;
	width: 10%;
}

.progress .bar-white {
	background-color: #ddd;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image:    -moz-linear-gradient(top, #eee, #ccc);
	background-image: 	 -o-linear-gradient(top, #eee, #ccc);
	background-image: 		linear-gradient(to bottom, #eee, #ccc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0);
}
.progress .bar-gray {
	background-color: #E0E0E0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E0E0E0), to(#909090));
	background-image: -webkit-linear-gradient(top, #E0E0E0, #909090);
	background-image:    -moz-linear-gradient(top, #ddd, #909090);
	background-image:	  -o-linear-gradient(top, #E0E0E0, #909090);
	background-image:		 linear-gradient(to bottom, #E0E0E0, #909090);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa', GradientType=0);
}
.progress .bar-black {
	background-color: #666666;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#000000));
	background-image: -webkit-linear-gradient(top, #888888, #000000);
	background-image:    -moz-linear-gradient(top, #888888, #000000);
	background-image:	  -o-linear-gradient(top, #888888, #000000);
	background-image:		 linear-gradient(to bottom, #888888, #000000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#aaaaaa', GradientType=0);
}

::selection			{ background: rgba(128,100,100,0.15); }
::-moz-selection	{ background: rgba(128,100,100,0.15); }

.scale150 {
-webkit-transform: scale(1.5);
   -moz-transform: scale(1.5);
	 -o-transform: scale(1.5);
		transform: scale(1.5);
}

.p_dump {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #333333;
	display: block;
	padding: 1.5px;
	margin: 0 0 10px;
	font-size: 10px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

.btn-dark80 {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: 	 -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image:	   -o-linear-gradient(top, #0088cc, #0044cc);
	background-image:		  linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #0044cc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-dark80 .caret { border-top-color: #ffffff; border-bottom-color: #ffffff; }
.btn-dark80.active { color: rgba(255, 255, 255, 0.75); }
.btn-dark80:hover,
.btn-dark80:active,
.btn-dark80.active,
.btn-dark80.disabled,
.btn-dark80[disabled] {
	color: #ffffff;
	background-color: #0044cc;
	*background-color: #003bb3;
}
.btn-dark80:active, .btn-dark80.active { background-color: #003399 \9; }


.btn-inverse [class*=icon-]	{ background-image: url("../img/glyphicons-halflings-white.png"); }
p.error [class*=icon-],div.error [class*=icon-],span.error [class*=icon-], .icon-red	{ background-image: url("../img/glyphicons-halflings-red.png"); }
p.success [class*=icon-],div.success [class*=icon-],span.success [class*=icon-], .icon-green	{ background-image: url("../img/glyphicons-halflings-green.png"); }
p.info [class*=icon-],div.info [class*=icon-],span.info [class*=icon-], .icon-blue	{ background-image: url("../img/glyphicons-halflings-blue.png"); }
p.warning [class*=icon-],div.warning [class*=icon-],span.warning [class*=icon-], .icon-yellow	{ background-image: url("../img/glyphicons-halflings-yellow.png"); }

* [class*=icon-large] { background-image: url('../img/glyphicons-large.png'); }

.notif p,.notif div,
.error p,.error div,
.warning p,.warning div,
.info p,.info div,
.success p,.success div
{ margin: 5px 0; }

p.notif,div.notif,span.notif,
p.error,div.error,span.error,
p.info,div.info,span.info,
p.warning,div.warning,span.warning,
p.success,div.success,span.success {
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
}
span.notif, span.error, span.info, span.warning, span.success {
	padding: 3px 10px;
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
}

p.notif,div.notif,span.notif		{ background-color: #eeeeee; color: #666; border: solid 1px #dddddd; }
p.error,div.error,span.error		{ background-color: #F2DEDE; color: #B94A48; border: solid 1px #EED3D7; }
p.warning,div.warning,span.warning	{ background-color: #FCF8E3; color: #C09853; border: solid 1px #FBEED5; }
p.info,div.info,span.info			{ background-color: #D9EDF7; color: #3A87AD; border: solid 1px #BCE8F1; }
p.success,div.success,span.success	{ background-color: #DFF0D8; color: #468847; border: solid 1px #D6E9C6; }

/* Icônes débutant les infos et success */
div.notif:not(.noicon):before,		p.notif:not(.noicon):before,	span.notif:not(.noicon):before,
div.warning:not(.noicon):before,	p.warning:not(.noicon):before,	span.warning:not(.noicon):before,
div.info:not(.noicon):before,		p.info:not(.noicon):before,		span.info:not(.noicon):before,
div.error:not(.noicon):before,		p.error:not(.noicon):before,	span.error:not(.noicon):before,
div.success:not(.noicon):before,	p.success:not(.noicon):before,	span.success:not(.noicon):before {
	display: inline-block;
	content: "";
	background: url('../../img/glyphicons-halflings-yellow.png') no-repeat top left;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	margin-right: 5px;
	vertical-align: text-top;
}
p.notif:not(.noicon):before,	div.notif:not(.noicon):before,	span.notif:not(.noicon):before	{ background: url('../img/glyphicons-halflings.png') no-repeat -144px -144px; }
p.success:not(.noicon):before,	div.success:not(.noicon):before,span.success:not(.noicon):before{ background: url('../img/glyphicons-halflings-green.png') no-repeat -288px 0; }
p.info:not(.noicon):before,		div.info:not(.noicon):before,	span.info:not(.noicon):before	{ background: url('../img/glyphicons-halflings-blue.png') no-repeat -120px -96px; }
p.warning:not(.noicon):before,	div.warning:not(.noicon):before,span.warning:not(.noicon):before{ background: url('../img/glyphicons-halflings-yellow.png') no-repeat -144px -120px; }
p.error:not(.noicon):before,	div.error:not(.noicon):before,	span.error:not(.noicon):before	{ background: url('../img/glyphicons-halflings-red.png') no-repeat -216px -96px; }