{
	# Debug mode: uncomment if you need it in the Caddy container
	#debug

	# Allows making calls with no TLS
	auto_https disable_redirects
}

http://localhost, https://localhost {
	log

	# Root for static files
	root * /srv/webroot

    php_fastcgi php:9000
    file_server
}
