{
	# Debug mode: uncomment if you need it in the Caddy container
	#debug

	# Allows making calls with no TLS
	auto_https disable_redirects
}

(vhost) {
	log

	# Root for static files
	root * /srv/webroot

    php_fastcgi php:9000
    file_server
}

# vhost for HTTP with port 80
http://localhost {
	import vhost
}

# vhost for HTTPS with port 443
https://localhost {
	import vhost
}
