<IfModule mod_rewrite.c>
	RewriteEngine on
	#RewriteBase /esteren/
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{QUERY_STRING} ^(.*)$
	RewriteRule ^(.*)$ index.php?request=$1
</IfModule>
